@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap");

html, body, #root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  font-family: 'Alexandria', sans-serif;
  box-sizing: border-box;
} 

.main{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  overflow: hidden;
  gap: 0px;
  justify-items: stretch;
}

.container-center{
  display: flex;
  padding: 2rem;
  background-color: #414040;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  min-width: 450px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 700;
  color: white;
  font-size: 2rem;
}

h3 {
  font-weight:600;
  font-size: 1.5rem;
  color: white;
}

.logout,
.profile,
.newCollab,
.record {
  display: flex;
  justify-content: center;
  padding: 1em;
  height: 70vh;
  width: 70vw;
  overflow-y: scroll;
}

.collabButtons {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

.collabCard {
  padding: 1em;
  max-height: 75vh;
}

#login-btn,
#register-btn {
  margin-top: 1em;
}

.newCollab {
  flex-direction: column;
  align-items: start;
  overflow-y: scroll;
}

.videoDiv {
  align-self: center;
}

.mycollabs {
  width: 70vw;
  overflow: scroll;
}

.collabCard,
.record,
.logoutFlex {
  background: #f9f9f9;
  color: #60a0c7;
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h2,

h4,
h5,
h6 {
  margin: 0;
  padding: 0.5em;
  color: white;
}

.newCollabName,
.newCollabVid {
  margin: 0.5em;
}

.collabName {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.collabRecordBTN {
  align-self: flex-end;
}

.recordArea {
  padding: 0.5;
}

.selfListen {
  margin: 1em;
}

.deviceSelect {
  margin: 1.5em;
}

.recButtons {
  margin: 1.5em;
}

.baseTrack {
  margin: 1em;
}


