body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.sessionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 0.5em;
}

.dashboard {
  height: 90vh;
}

.default-btn {
  color: black;
}

.default-input {
  width: 15rem;
  margin-bottom: 2em;
}

.home,
.login,
.logout,
.profile,
.register,
.newCollab,
.collab,
.record {
  display: flex;
  justify-content: center;
  padding: 2em;
  height: 80vh;
}

.collab {
  flex-direction: column;
  justify-content: start;
  width: 80vw;
}

.newCollab {
  flex-direction: column;
  align-items: center;
}

.home {
  flex-direction: column;
  justify-content: start;
}

.myprofile {
  width: 30vw;
  padding: 1em;
}

.mycollabs {
  width: 70vw;
  padding: 1em;
}

.myCollabsHeader {
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0.5em;
}


.newCollabForm {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
}

.highlighted {
  color: red;
}

.collabName {
  display: flex;
  flex-direction: column;
}

.collabRecordBTN {
  align-self: flex-end;
}