@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap");

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6b6cfb;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.login,
.logout,
.profile,
.register,
.newCollab,
.record {
  display: flex;
  justify-content: center;
  padding: 1em;
  height: 70vh;
  width: 70vw;
  overflow-y: scroll;
}

.collabList {
  margin-top: 1em;
  overflow-y: scroll;
}

.collabButtons {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

.collabCard {
  padding: 1em;
  max-height: 75vh;
}

#login-btn,
#register-btn {
  margin-top: 1em;
}

.newCollab {
  flex-direction: column;
  align-items: start;
  overflow-y: scroll;
}

.videoDiv {
  align-self: center;
}

.mycollabs {
  width: 70vw;
  overflow: scroll;
}

.collabCard,
.loginFlex,
.record,
.registerFlex,
.logoutFlex,
.homeTitle {
  background: #f9f9f9;
  color: #60a0c7;
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0.5em;
  color: #60a0c7;
}

.newCollabName,
.newCollabVid {
  margin: 0.5em;
}

.collabName {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.collabRecordBTN {
  align-self: flex-end;
}

.recordArea {
  padding: 0.5;
}

.selfListen {
  margin: 1em;
}

.deviceSelect {
  margin: 1.5em;
}

.recButtons {
  margin: 1.5em;
}

.baseTrack {
  margin: 1em;
}
