.newCollab {
  display: flex;
  justify-content: center;
  padding: 1em;
  height: 70vh;
  width: 70vw;
  overflow-y: scroll;
  flex-direction: column;
  align-items: start;
  overflow-y: scroll;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: #6b6cfb;
  height: 85vh;
}

.newCollabForm {
  background: #f9f9f9;
  color: #60a0c7;
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
  align-self: center;
}

.newCollabName {
  margin: 0.5em;
}

.default-input {
  width: 15rem;
}

.videoDiv {
  align-self: center;
}

.default-btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #60a0c7;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 80%;
  line-height: 1.15;
  padding: 0.7em;
  margin: 0.4em;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.default-btn:disabled {
  cursor: default;
}

.default-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.highlighted {
  color: red;
}
