.listedCollab {
  background:rgba(86, 86, 86, 0.5);
  color: #f0f9ff;
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding: 1em;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}

.newCollabName,
.newCollabVid {
  margin: 0.5em;
}

.collab-tracks {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  max-height: 40vh;
  justify-content: center;
}

.collab-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: rgb(93, 93, 93);
  margin-top: 1.5em;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 300;
  gap: 0.5rem;
}

.collab-info h6 {
  margin: 0px;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
}

.collab-info p {
  margin: 0px;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
}

.collab-info h2 {
  margin: 0px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.explore-section h3,h4,h5,h6 {
  color:white;
}